<div class="container-fluid mt-6">
  <div class="form-group mt-5">

    <!-- This row contains the form components -->
    <div class="row">

      <div class="col-md-8 mb-2">
        <label>Address / Zip Code:</label>
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="address" (keyup.enter)="search()">
          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="search()">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-2">
        <label>Fuel Type:</label>
        <div class="input-group">
          <select class="form-control" [(ngModel)]="fuelType">
            <option value=""></option>
            <option value="LPG">LPG</option>
            <option value="HY">HY</option>
            <option value="ELEC">ELEC</option>
            <option value="BD">BD</option>
            <option value="CNG">CNG</option>
            <option value="E85">E85</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-primary" (click)="search()">
              <i class="fas fa-gas-pump"></i>
            </button>
          </div>
        </div>
      </div>

    </div>

    <!-- This row contains the results -->
    <div class="col-12 col-md-12 col-lg-12 mt-5 p-0">
      <div class="table-responsive table-container">

        <table class="table">
          <thead class="thead-light">
            <tr>
              <th scope="col">
                <i class="fas fa-gas-pump mr-2"></i>
                Fuel Type
              </th>
              <th scope="col">Price</th>
              <th scope="col">Station Name / Address</th>
              <th scope="col">City</th>
              <th scope="col">Last Update</th>
              <th scope="col">Directions</th>
            </tr>
          </thead>
          <tbody *ngIf="!isSearching">
            <tr *ngFor="let s of stations">
              <td>{{s.fuel_type_code}}</td>
              <td class="price">{{randomPrice()}}</td>
              <td>
                <p>
                  <b>{{s.station_name}}</b>
                  <br/>{{s.street_address}}</p>
              </td>
              <td>{{s.city}}</td>
              <td>{{s.updated_at | date: 'yyyy-MM-dd hh:mm a'}}</td>
              <td>
                <button type="button" class="btn btn-light" (click)="map(s.latitude, s.longitude)">
                  <i class="fas fa-car"></i>
                </button>
              </td>

            </tr>
          </tbody>
        </table>
        <div>
        <i *ngIf="isSearching" class="mt-5 fa fa-spinner fa-spin spinner"></i>
        <h4 *ngIf="!isSearching && (stations == undefined || stations.length < 1)" class="mt-5 no-results">No results to display.</h4>
      </div>
    </div>
  </div>
</div>